body
{
    background-color: black;
    font-family: 'poppins', sans-serif;
    color: wheat;
}

#navcontainer
{
   position: sticky;
   top: 0px;
   background-color: black;
   z-index: 1;
}


#navname
{
   margin-top: 10px;
   max-width: 800px;
  background-color: red;
}

#navderrick
{
    padding-top: 10px;
    padding-top: 0px;
    margin-left: 50px;   
}

ol
{
    padding-top: 0px;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 0px; 
    background-image: url(images/development.jpg);
    background-size: 300px;
    background-repeat: no-repeat;
}

a
{
    list-style: none;
    text-decoration: none;
    color: wheat;
}

a:hover
{
    list-style: none;
    text-decoration: none;
    color: wheat;
}


li
{
    list-style: none;
    display: inline-flex;
    padding: 40px;
    padding-top: 20px; 
    padding-bottom: 40px;
    font-size: 15px;
}

.fa-home
{
    padding-right: 0px;
    font-size: 50px;
    color: rgb(30, 218, 30);
    position: relative;
    left: 15px;
}

.fa-code
{
    
    font-size: 30px;
    color: rgb(177, 138, 9)
}

.fa-gg
{
    padding-right: 10px;
    font-size: 30px;
    color:red;
}

#page
{
    position: relative;
    top: 25px;
    right: 24px;
}

#skills
{
    color: rgb(207, 191, 191);
    font-size: 17px;
    position: relative;
    right:44px;
    top: 30px;
    color: rgb(177, 138, 9)
}

#projects
{
    color: rgb(207, 191, 191);
    font-size: 17px;
    position: relative;
    right:55px;
    top: 30px;
}

#contact
{
    color: rgb(207, 191, 191);
    font-size: 17px;
    position: relative;
    right:55px;
    top: 30px;
}

.fa-book
{
    padding-right: 10px;
    font-size: 30px;
    color: rgb(50, 50, 241);
}

h1
{
    text-align: center;
    color: rgb(177, 138, 9)
}