body
{
    background-color: black;
    font-family: 'poppins', sans-serif;
    color: wheat;
}

#navcontainer
{
   position: sticky;
   top: 0px;
   background-color: black;
   z-index: 1;
}


#navname
{
   margin-top: 10px;
   max-width: 800px;
  background-color: red;
}

#navderrick
{
    padding-top: 10px;
    padding-top: 0px;
    margin-left: 50px;   
}

ol
{
    padding-top: 0px;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 0px; 
    background-image: url(images/shrub2.jpg);
    background-size: 300px;
    background-repeat: no-repeat;
}

a
{
    list-style: none;
    text-decoration: none;
    color: wheat;
}

a:hover
{
    list-style: none;
    text-decoration: none;
    color: wheat;
}


li
{
    list-style: none;
    display: inline-flex;
    padding: 40px;
    padding-top: 20px; 
    padding-bottom: 40px;
    font-size: 15px;
}

.fa-home
{
    padding-right: 0px;
    font-size: 50px;
    color: rgb(30, 218, 30);
    position: relative;
    left: 15px;
}

.fa-code
{
    
    font-size: 30px;
    color: rgb(177, 138, 9)
}

.fa-gg
{
    padding-right: 10px;
    font-size: 30px;
    color:red;
}

#page
{
    position: relative;
    top: 25px;
    right: 24px;
}

#skills
{
    color: rgb(207, 191, 191);
    font-size: 17px;
    position: relative;
    right:44px;
    top: 30px;
}

#projects
{
    color: rgb(207, 191, 191);
    font-size: 17px;
    position: relative;
    right:55px;
    top: 30px;
}

#contact
{
    color: rgb(207, 191, 191);
    font-size: 17px;
    position: relative;
    right:55px;
    top: 30px;
}

.fa-book
{
    padding-right: 10px;
    font-size: 30px;
    color: rgb(50, 50, 241);
}

#profile
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    border-radius: 500px;
    margin-bottom: 3%;
    margin-top: 50px;
}

.alert-info
{
  position: absolute;
  z-index: 1;
  text-align: center;
  animation: drop 2s ease;
}

#inform
{
   height: 50px;
   position: sticky;
   top: 200px;
   z-index: 1;
   max-width:900px;
}

#closeinfo
{
    position: relative;
    left: 11px;
    top: 8px;
}

#detailone
{
    max-width: 800px;
    text-align: center;
    color: rgb(109, 106, 106);
}

#detailtwo
{
    max-width: 700px;
    text-align: center;
    color: gray;
}

hr
{
    border-top: 1px solid purple;
}

#footsection
{
    display: flex;
    margin-bottom: 30px;
    text-align: center;
}

#build
{
    color: rgb(112, 97, 97);
}

#help
{
    color: gray;
}



#helptitle
{
  text-align: center;
}

#helpinfo
{
    color: rgb(112, 97, 97);
}

#find
{
    color: gray;
}

#huduma
{
    color: gray;
    font-size: 14px;
}

#facebook
{
    color:gray;
    font-size: 14px;
}

.fa-facebook
{
    color: rgb(66, 66, 238);
}

#twitter
{
    color: gray;
    font-size: 14px;
}

.fa-twitter
{
    color: rgb(88, 88, 228);
}

#github
{
    color: rgb(117, 111, 111);
    font-size: 14px;
}

#supported
{
    text-align: center;
    color: purple;
    margin-bottom: 40px;
}

.fa-github
{
    color: rgb(117, 111, 111);
}

#fundi
{
    color: rgba(255, 166, 0, 0.699);
}

#centepay
{
    color: green;
    margin-top: 50%;
}

#lastfootsection
{
    display: flex;
    text-align: center;
}

#hudumaimage
{
    height: auto;
    width: auto;
}

#signup
{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px; 
    margin-left: 45px;
    color: rgba(128, 128, 128, 0.521);
}


.btn-primary
{
    filter: drop-shadow(10px 10px 10px rgb(43, 43, 99));
    margin-bottom: 50px;
}


#closedanger
{
    position: relative;
    left: 13px;
}

#closesuccess
{
    position: relative;
    left: 13px;
}

#success-alert
{
    max-width: 400px;
    text-align: center;
    
}

.alert-success
{
    color: green;
    position: absolute;
    z-index: 1px;
}

.fa-smile-o
{
    color: rgb(23, 85, 23);
    position: relative;
    right: 13px;
}

#danger-alert
{
    max-width: 300px;
    text-align: center;
}

.alert-danger
{
    color: red;
    position: absolute;
    z-index: 1px;
}


.fa-frown-o
{
    position: relative;
    right: 13px;
}

form
{
    text-align: center;
    margin-bottom: 30px;
}


#emails
{
    color: gray;
}

#emailword
{
    color: gray;
}

::placeholder
{
    font-size: 13px;
    text-align: center;
}

.btn-info
{
    border: 1px solid transparent;
    position: relative;
    left: 20px;
}



@keyframes drop
{
    0%{
        opacity: 0px;
        transform: translateY(-120px);
    }

    100%{
        opacity: 1px;
        transform: translateY(0px);
    }
}


@media all and (max-width: 300px)
{

    #hom{ 
          position: relative;
          right: 100px;
          top: 15px;
    }

    #skill{
        position: relative;
        bottom: 90px;
        left: 100px;
        right: 100px;
    }

    #proj {
       position: relative;
       left: 30px;
       
    }

    #cont{
        position: relative;
        bottom: 90px;
        left: 120px;
    }
}